.nav-bar{
  height: 45px;
  background-color: #108ee9;
  color: #fff;
  line-height: 45px;
  box-sizing: border-box;
  padding: 0 10px;
}
.select-box{
  background: red;
  margin-left: 10px;
}
.loading{
  width: 30px;
  height: 30px;
  background: url(../../images/a.svg) no-repeat center;
  background-size: contain;
}