.flex-box{
    width: 220px;
    height: 300px;
    display: flex;
    -webkit-display:flex;
    /* flex-direction: column-reverse; */
    flex-wrap:nowrap;
    align-items:center;
}
.flex-box > div{
    flex: 1;
}
.box div{
    display: inline-block;
}
.left{
    width: 200px;
    height: 200px;
    background: red;
}
.right{
    width: 100%;
    margin-left: 100px;
    height: 200px;
    background: green;
}