.flex-box>div{
    margin-top: 20px;
}
.left{
    width: 200px;
    height: 200px;
    background: red;
}
.right{
    width: 100%;
    margin-left: 100px;
    height: 200px;
    background: green;
}
.image-url{
    width: 100px;
    height: 100px;
    background: url(./empty_left.png) no-repeat;
    background-size: contain;
}
.red-bgcolor{
    width: 100px;
    height: 100px;
    background: red;
    position: absolute;
    top: 0;
    left: 0;
}
